@model DinucleotidesFrq.Models.MultipleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <title>DinucCalc</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <br>
                <h2>Dinucleotides frq calculation</h2>
                <br>
            </div>
            <div class="row">
                <p><b>Sequence: </b>@Model.Seq.Seq</p>
            </div>
            <div class="row">
                <p><b>Sequence length: </b>@Model.Seq.Seq.Length</p>
            </div>

            <div class="row justify-content-center">
                <table>
                    <thead>
                        <tr>
                            <th>Dinuc</th>
                                @foreach(var item in Model.Dinuc.dinucleotides)
                                    {<th>@item.Dinuc</th>}
                        </tr>
                    </thead>    
                    <tbody>
                        <tr>
                            <td>1st frame</td>
                            @foreach(var item in Model.Dinuc.dinucleotides)
                                    {
                                        <td>@item.Dinuc1stFrame</td>
                                    }
                        </tr>
                        <tr>
                            <td>1st frame frq</td>
                            @foreach(var item in Model.Dinuc.dinucleotides)
                                    {
                                        <td>@item.Dinuc1stFrameFrq.ToString("0.0000")</td>
                                    }
                        </tr>
                        <tr>
                            <td>2nd frame</td>
                            @foreach(var item in Model.Dinuc.dinucleotides)
                                    {
                                        <td>@item.Dinuc2ndFrame</td>
                                    }
                        </tr>
                        <tr>
                            <td>2nd frame frq</td>
                            @foreach(var item in Model.Dinuc.dinucleotides)
                                    {
                                        <td>@item.Dinuc2ndFrameFrq.ToString("0.0000")</td>
                                    }
                        </tr>
                        <tr>
                            <td>Dinuc diff</td>
                            @foreach(var item in Model.Dinuc.dinucleotides)
                                    {
                                        <td>@Math.Abs(item.Dinuc1stFrame - item.Dinuc2ndFrame)</td>
                                    }
                        </tr>
                        <tr>
                            <td>Dinuc frq diff</td>
                            @foreach(var item in Model.Dinuc.dinucleotides)
                                    {
                                        <td>@Math.Abs(item.Dinuc1stFrameFrq - item.Dinuc2ndFrameFrq).ToString("0.0000")</td>
                                    }
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div><b>Dinuc Frq Diff Sum: </b>@Model.DinucFrqDiffSum</div>
                </div>
            </div>
        </div>
    </body>
</html>

