@model DinucleotidesFrq.Models.MultipleModel
@using DinucleotidesFrq.Helpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row  justify-content-center">
        <h2>Input sequece</h2>
    </div>
    <div class="row  justify-content-center">
        @{
            if(Model.Seq.SeqMatch)
            {
                <p style="color: black">Enter A, C, G, T or a, c, g, t only</p>
            }
            else
            {
                <p style="color: red">Enter A, C, G, T or a, c, g, t only</p>
            }
        }
    </div>
    
        @using(Html.BeginForm("Calculation" , "DinucCalc", FormMethod.Post))
        {
            <div class="row justify-content-center">
<!--                @Html.TextAreaFor(s => s.Seq.Seq, new{@class="text-area"})-->
                    @Html.TextAreaFor(s => s.Seq.Seq, new{@class="text-area"})
            </div>
            <br>
            <div class="row justify-content-center">
                <button value="calculate" style="border: 0.5px solid black; border-radius: 5px;  background-color: lightgrey">Calculate</button>
            </div>
        }
</div>
<br>
<div class="container-fluid" style="overflow-y: scroll">
    <div class=" row justify-content-center">
        <br>
        <h2>Choose sequence</h2>
        <br>
    </div>
    
    <div>
    @using (Html.BeginForm("SeqIn", "SeqInput", FormMethod.Post))
    {
    <div class="row">
        <div class="col-md-3 text-right">
            <b> Test seq: </b>
        </div>
        <div class="col-md-7">
            @Html.DisplayFor(t => t.Seq.TestSeq)
        </div>
        <div class="col-md-2">
            <button name="choose" value="add-test" style="border: 0.5px solid black; border-radius: 5px;  background-color: lightgrey">Add</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 text-right">
            <b>Random seq(100 bp): </b>
        </div>
        <div class="col-md-7">
            @Html.DisplayFor(r => r.Seq.RandSeq)
        </div>
        <div class="col-md-2">
            <button name="choose" value="make-random" style="border: 0.5px solid black; border-radius: 5px;  background-color: lightgrey">Make seq</button>
            <button name="choose" value="add-random" style="border: 0.5px solid black; border-radius: 5px;  background-color: lightgrey">Add</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 text-right">
            <b>Selec seq  from list: </b>        
        </div>
        <div class="col-md-9">
            @Html.DropDownListFor(m => m.Names.SelectName,
                new SelectList(Model.Names.seqNames),
                "-- Select seq --",
                new {@class="select-style"})
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 text-right">
            <b>Select seq from GB: </b>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2"></div>
    </div>
    }
</div>
